body {
    background-color: pink;
}

h1 {
    color: orange;
    background-color: blue;
}

p {
    color: slateblue;
}

.container {
    border-width: 5px;
    border-style: solid;
    border-color: crimson;
    margin: 40px;
    padding: 50px;
}

#list {
    font-size: 10px;
}
